* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Files to keep with LF endings, even on Windows
*.sh text eol=lf
/docker/cron/scheduler eol=lf
