/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/fonts/
/public/js/app.js
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
/public/mix-manifest.json
