sudo: required
language: php
dist: trusty

php:
  - 7.2

install:
  - cp .env.example .env
  - travis_retry composer install --no-interaction

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - ./vendor/laravel/dusk/bin/chromedriver-linux &
  - php artisan key:generate
  - touch database/database.sqlite
  - php artisan serve &

script:
  - vendor/bin/phpunit
  - php artisan dusk