// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Custom css
@import "custom.scss";
