/* Main title */
.title {
    font-size: 50px;
}

/* Carousel */
.carousel-control {
    background-image: none !important;
    filter: none !important;
    color:black !important;
}

.carousel-content {
    display: block;
    text-align: center;
}

/* Character attributes table */
caption.caption-top {
    caption-side: top!important;
}

.table-attributes {
    /*width: 70%;*/
    /*margin-left: 15%;*/
    font-size: 1.8rem;
}

.table-attributes td.circle a{
    border-radius: 25px;
    background-color: #337ab7;
    /*font-weight: bold;*/
    color: white;
}

/* Images */
.img-race {
    height: 600px !important;
}

.active a{
    color: white !important;
}

/* Messages */
.message-list-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.message-list-darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.message-list-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.message-list-container img.profile-picture {
    max-width: 60px;
    width: 100%;
}

/** General */
.badge-lightpink  {
    color: #fff;
    background-color: lightpink;
}

.badge-lightskyblue  {
    color: #fff;
    background-color: lightskyblue;
}

/** Location Navigator */

.location-navigator .row {
    /*border: 1px solid red;*/
    height: 50px;
}

